@inherits LayoutComponentBase

@* <NavMenu /> *@

<main>
    <div class="px-4">
        <a href="/livelist">Live List</a>
        @Body
    </div>
</main>

@code {
    // Any additional code can go here
}
